In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
df = pd.read_csv('customer_purchases.csv')
df.head(60)

,Names,Location,Age,Salary,DoB,Blood types,Purchased
0,Joseph Mutoni,Kigali,31.0,481328.0,1995-07-13,O-,Y
1,Grace Mutoni,Rwamagana,58.0,894969.0,1968-10-07,B-,No
2,Sandrine Dusenge,Karongi,26.0,582713.0,2000-01-07,A-,No
3,Patrick Munyaneza,Musanze,27.0,607015.0,1999-01-09,B+,No
4,Nadine Dusenge,kigali,18.0,575816.0,2008-03-10,B+,No
5,Jean Nshimiyimana,Karongi,29.0,504319.0,1997-08-12,A-,No
6,Claudine Niyomugabo,Kayonza,54.0,297613.0,1972-09-05,A-,Yes
7,Thierry Mugabo,Rwamagana,56.0,869650.0,1970-06-08,B-,Yes
8,Emmanuel Nkurunziza,Rusizi,37.0,621404.0,1989-08-18,O-,Yes
9,Claudine Gahigi,Kayonza,59.0,710260.0,1967-10-30,AB-,Yes
10,Grace Bizimana,Kayonza,50.0,753086.0,not_a_date,A-,Yes
11,Samuel Nkurunziza,MUSANZE,21.0,328302.0,2005-07-11,B-,Yes
12,Nadine Dusenge,Musanze,51.0,802901.0,1975-06-23,AB+,Yes
13,Nadine Mugabo,NaN,26.0,486665.0,2000-11-17,O-,Yes
14,Nadine Hakizimana,Musanze,50.0,929827.0,1976-06-07,A+,Yes
15,Bella Niyomugabo,Rwamagana,59.0,838283.0,1967-05-20,B-,No
16,Sandrine Rukundo,Karongi,37.0,99999999.0,1989-10-19,A+,No
17,Yvette Rukundo,Rusizi,37.0,625531.0,1989-12-28,A+,No
18,Joseph Niyomugabo,Nyagatare,23.0,778872.0,2003-01-16,B+,No
19,Samuel Mugabo,Kayonza,56.0,413126.0,1970-03-18,A+,Yes
20,Joseph Uwimana,Kayonza,46.0,1123210.0,1980-10-02,A+,No
21,Yvette Uwimana,Rusizi,25.0,738837.0,2001-02-01,AB+,Yes
22,Olivier Bizimana,Rusizi,19.0,150000.0,2007-10-12,B-,1
23,Chantal Iradukunda,Rusizi,36.0,711530.0,NaN,AB-,No
24,Yvette Mukamana,Musanze,NaN,731518.0,2001-11-20,O-,No
25,Brian Habimana,Karongi,60.0,664004.0,1966-10-18,O+,Yes
26,Nadine Mukamana,Huye,50.0,244773.0,1976-02-21,O+,Yes
27,Samuel Uwimana,Huye,58.0,923024.0,1968-04-09,A+,No
28,Emmanuel Rugema,Rubavu,50.0,670956.0,1976-04-24,B-,No
29,Patrick Mugabo,Huye,15.0,520419.0,1980-01-06,B+,No
30,Sarah Gahigi,Karongi,56.0,672451.0,1970-09-23,AB+,No
31,Samuel Dusenge,Musanze,38.0,781153.0,1988-05-13,B+,No
32,Esther Niyomugabo,Karongi,33.0,948202.0,1993-02-10,NaN,No
33,Joseph Nshimiyimana,Musanze,48.0,787504.0,1978-08-31,AB-,No
34,Eric Rukundo,Kigali,52.0,561977.0,1974-01-01,AB+,No
35,Sandrine Gahigi,Nyagatare,24.0,502834.0,2002-08-23,B-,Yes
36,Alice Nshimiyimana,Nyagatare,41.0,1030014.0,1985-07-26,B+,No
37,Brian Bizimana,Musanze,52.0,723355.0,1974-05-03,B-,No
38,Emmanuel Habimana,Kigali,54.0,844329.0,1972-11-26,A-,No
39,Esther Munyaneza,Nyagatare,44.0,808619.0,1982-12-23,O-,No
40,Beata Nsengiyumva,Rwamagana,23.0,631177.0,2003-06-19,B+,Yes
41,Esther Hakizimana,Kigali,44.0,-50000.0,1982-09-03,O-,No
42,Fabrice Mukamana,Rubavu,41.0,518205.0,1985-05-31,A-,No
43,Joseph Uwimana,Kayonza,46.0,1123210.0,1980-10-02,A+,No
44,Kevin Hakizimana,Rubavu,29.0,634464.0,1997-12-06,O-,No
45,Beata Rukundo,Musanze,50.0,566022.0,1976-02-03,O-,No
46,Sarah Nsengiyumva,Nyagatare,55.0,351477.0,NaN,AB+,No
47,Chantal Niyomugabo,Huye,25.0,666896.0,2001-01-18,B-,NaN
48,Eric Hakizimana,Musanze,48.0,311163.0,1978-07-22,X+,No
49,Michael Nsengiyumva,Kigali,54.0,567093.0,1972-02-21,AB-,Yes
50,Olivier Rukundo,Musanze,47.0,685835.0,1979-09-20,B-,Yes
51,NaN,Muhanga,30.0,715117.0,1996-04-11,O+,No
52,Eric Nshimiyimana,Huye,50.0,674285.0,1976-06-08,B+,No
53,Eric Bizimana,Kigali,47.0,662321.0,1979-10-31,A+,No
54,Gilbert Habyarimana,Kigali,35.0,402154.0,1991-04-03,AB-,No
55,Claudine Nsengiyumva,Rusizi,38.0,453254.0,2030-05-10,A-,Yes
56,Beata Uwimana,Nyagatare,23.0,655765.0,2003-12-26,A+,Yes
57,Yvette Gahigi,Rwamagana,31.0,578499.0,1995-01-02,A+,No
58,Anitha Niyonzima,Musanze,59.0,716835.0,1967-10-31,AB-,Yes
59,Joseph Kagabo,Rusizi,52.0,240469.0,1974-12-07,O+,Yes

In [30]:
df.isnull().sum()

Names          0
Location       0
Age            1
Salary         2
DoB            2
Blood types    0
Purchased      0
dtype: int64

In [29]:
for col in ['Names', 'Location', 'Blood types', 'Purchased']:
    mode_val = df[col].mode(dropna=True)
    if (len(mode_val)):
         df[col] = df[col].fillna(mode_val.iloc[0])

In [32]:
df.isnull().sum()

Names          0
Location       0
Age            1
Salary         2
DoB            2
Blood types    0
Purchased      0
dtype: int64

In [33]:
age_mean = df['Salary'].mean()
salary_mean = df['Age'].mean()
print('Age mean', age_mean, 'Salary_mean', salary_mean)

Age mean 1660989.2959183673 Salary_mean 40.323232323232325

In [34]:
df['Age'] = df['Age'].fillna(age_mean)
df['Salary'] = df['Salary'].fillna(salary_mean)

In [35]:
df.isnull().sum()

Names          0
Location       0
Age            0
Salary         0
DoB            2
Blood types    0
Purchased      0
dtype: int64

In [42]:
df = df.sort_values(['DoB', 'Age'], ascending=[False, False])

In [43]:
df

,Names,Location,Age,Salary,DoB,Blood types,Purchased
10,Grace Bizimana,Kayonza,50.0,753086.0,not_a_date,A-,Yes
55,Claudine Nsengiyumva,Rusizi,38.0,453254.0,2030-05-10,A-,Yes
4,Nadine Dusenge,kigali,18.0,575816.0,2008-03-10,B+,No
22,Olivier Bizimana,Rusizi,19.0,150000.0,2007-10-12,B-,1
67,Grace Nkurunziza,Rubavu,19.0,960013.0,2007-09-18,O-,No
...,...,...,...,...,...,...,...
15,Bella Niyomugabo,Rwamagana,59.0,838283.0,1967-05-20,B-,No
25,Brian Habimana,Karongi,60.0,664004.0,1966-10-18,O+,Yes
66,Emmanuel Rukundo,Rusizi,29.0,229421.0,12/31/1995,A+,Yes
46,Sarah Nsengiyumva,Nyagatare,55.0,351477.0,NaN,AB+,No
23,Chantal Iradukunda,Rusizi,36.0,711530.0,NaN,AB-,No