In [58]:
import pandas as pd
import matplotlib.pyplot as plt

In [59]:
df = pd.read_csv('customer_purchases.csv')
df.head()

,Names,Location,Age,Salary,DoB,Blood types,Purchased
0,Joseph Mutoni,Kigali,31.0,481328.0,1995-07-13,O-,Y
1,Grace Mutoni,Rwamagana,58.0,894969.0,1968-10-07,B-,No
2,Sandrine Dusenge,Karongi,26.0,582713.0,2000-01-07,A-,No
3,Patrick Munyaneza,Musanze,27.0,607015.0,1999-01-09,B+,No
4,Nadine Dusenge,kigali,18.0,575816.0,2008-03-10,B+,No

In [60]:
df.isnull().sum()

Names          1
Location       2
Age            1
Salary         2
DoB            2
Blood types    2
Purchased      1
dtype: int64

In [61]:
for col in ['Names', 'Location', 'Blood types', 'Purchased']:
    mode_val = df[col].mode(dropna=True)
    print(mode_val)
    if (len(mode_val)):
         df[col] = df[col].fillna(mode_val.iloc[0])

0    Joseph Uwimana
Name: Names, dtype: object
0    Musanze
Name: Location, dtype: object
0    A+
Name: Blood types, dtype: object
0    No
Name: Purchased, dtype: object

In [62]:
df.isnull().sum()

Names          0
Location       0
Age            1
Salary         2
DoB            2
Blood types    0
Purchased      0
dtype: int64

In [74]:
age_mean = df['Age'].mean()
salary_mean = df['Salary'].mean()
print('Age mean', age_mean, 'Salary_mean', salary_mean)

Age mean 16649.812959183673 Salary_mean 1627770.3164646465

In [75]:
df['Age'] = df['Age'].fillna(age_mean)
df['Salary'] = df['Salary'].fillna(salary_mean)

In [76]:
df.isnull().sum()

Names          0
Location       0
Age            0
Salary         0
DoB            0
Blood types    0
Purchased      0
dtype: int64

In [77]:
df = df.sort_values(['DoB', 'Age'], ascending=[False, False])

In [78]:
df['DoB'] = df['DoB'].ffill().bfill()

In [79]:
df.isnull().sum()

Names          0
Location       0
Age            0
Salary         0
DoB            0
Blood types    0
Purchased      0
dtype: int64

In [80]:
df

,Names,Location,Age,Salary,DoB,Blood types,Purchased
10,Grace Bizimana,Kayonza,50.0,753086.0,not_a_date,A-,Yes
55,Claudine Nsengiyumva,Rusizi,38.0,453254.0,2030-05-10,A-,Yes
4,Nadine Dusenge,kigali,18.0,575816.0,2008-03-10,B+,No
22,Olivier Bizimana,Rusizi,19.0,150000.0,2007-10-12,B-,1
67,Grace Nkurunziza,Rubavu,19.0,960013.0,2007-09-18,O-,No
...,...,...,...,...,...,...,...
15,Bella Niyomugabo,Rwamagana,59.0,838283.0,1967-05-20,B-,No
25,Brian Habimana,Karongi,60.0,664004.0,1966-10-18,O+,Yes
46,Sarah Nsengiyumva,Nyagatare,55.0,351477.0,12/31/1995,AB+,No
23,Chantal Iradukunda,Rusizi,36.0,711530.0,12/31/1995,AB-,No
66,Emmanuel Rukundo,Rusizi,29.0,229421.0,12/31/1995,A+,Yes

In [81]:
df['Purchased'] = df['Purchased'].replace({1: 'Yes', 0: 'No'})

In [82]:
df

,Names,Location,Age,Salary,DoB,Blood types,Purchased
10,Grace Bizimana,Kayonza,50.0,753086.0,not_a_date,A-,Yes
55,Claudine Nsengiyumva,Rusizi,38.0,453254.0,2030-05-10,A-,Yes
4,Nadine Dusenge,kigali,18.0,575816.0,2008-03-10,B+,No
22,Olivier Bizimana,Rusizi,19.0,150000.0,2007-10-12,B-,1
67,Grace Nkurunziza,Rubavu,19.0,960013.0,2007-09-18,O-,No
...,...,...,...,...,...,...,...
15,Bella Niyomugabo,Rwamagana,59.0,838283.0,1967-05-20,B-,No
25,Brian Habimana,Karongi,60.0,664004.0,1966-10-18,O+,Yes
46,Sarah Nsengiyumva,Nyagatare,55.0,351477.0,12/31/1995,AB+,No
23,Chantal Iradukunda,Rusizi,36.0,711530.0,12/31/1995,AB-,No
66,Emmanuel Rukundo,Rusizi,29.0,229421.0,12/31/1995,A+,Yes

In [83]:
df.head(60)

,Names,Location,Age,Salary,DoB,Blood types,Purchased
10,Grace Bizimana,Kayonza,5.000000e+01,7.530860e+05,not_a_date,A-,Yes
55,Claudine Nsengiyumva,Rusizi,3.800000e+01,4.532540e+05,2030-05-10,A-,Yes
4,Nadine Dusenge,kigali,1.800000e+01,5.758160e+05,2008-03-10,B+,No
22,Olivier Bizimana,Rusizi,1.900000e+01,1.500000e+05,2007-10-12,B-,1
67,Grace Nkurunziza,Rubavu,1.900000e+01,9.600130e+05,2007-09-18,O-,No
81,Samuel Gahigi,Nyagatare,1.900000e+01,7.334800e+05,2007-09-11,O+,Yes
63,Diane Mutoni,Musanze,1.900000e+01,6.532050e+05,2007-09-10,B+,No
11,Samuel Nkurunziza,MUSANZE,2.100000e+01,3.283020e+05,2005-07-11,B-,Yes
85,Alice Rukundo,Muhanga,2.100000e+01,8.899830e+05,2005-04-12,B-,No
77,Esther Bizimana,Kigali,2.100000e+01,8.256750e+05,2005-02-15,A+,Yes
56,Beata Uwimana,Nyagatare,2.300000e+01,6.557650e+05,2003-12-26,A+,Yes
40,Beata Nsengiyumva,Rwamagana,2.300000e+01,6.311770e+05,2003-06-19,B+,Yes
76,SANDRINE NKURUNZIZA,Rubavu,2.300000e+01,5.503890e+05,2003-05-09,B+,No
18,Joseph Niyomugabo,Nyagatare,2.300000e+01,7.788720e+05,2003-01-16,B+,No
35,Sandrine Gahigi,Nyagatare,2.400000e+01,5.028340e+05,2002-08-23,B-,Yes
83,Beata Nsengiyumva,Musanze,2.400000e+01,4.032323e+01,2002-08-01,AB-,No
69,Samuel Uwimana,Rwamagana,2.400000e+01,7.291450e+05,2002-06-10,A+,Yes
24,Yvette Mukamana,Musanze,1.660989e+06,7.315180e+05,2001-11-20,O-,No
99,Chantal Niyonzima,Nyagatare,2.500000e+01,5.908400e+05,2001-03-08,AB+,Yes
21,Yvette Uwimana,Rusizi,2.500000e+01,7.388370e+05,2001-02-01,AB+,Yes
47,Chantal Niyomugabo,Huye,2.500000e+01,6.668960e+05,2001-01-18,B-,No
13,Nadine Mugabo,Musanze,2.600000e+01,4.866650e+05,2000-11-17,O-,Yes
2,Sandrine Dusenge,Karongi,2.600000e+01,5.827130e+05,2000-01-07,A-,No
3,Patrick Munyaneza,Musanze,2.700000e+01,6.070150e+05,1999-01-09,B+,No
75,Stella Mukamana,Muhanga,1.800000e+01,5.057150e+05,1998.07.04,AB+,Yes
88,Alice Mukamana,Huye,2.800000e+01,6.763580e+05,1998-12-30,O-,No
91,Alice Mukamana,Huye,2.800000e+01,6.763580e+05,1998-12-30,O-,No
94,Thierry Niyonzima,Rubavu,2.800000e+01,7.463010e+05,1998-12-11,AB-,Yes
44,Kevin Hakizimana,Rubavu,2.900000e+01,6.344640e+05,1997-12-06,O-,No
90,Kevin Hakizimana,Rubavu,2.900000e+01,6.344640e+05,1997-12-06,O-,No
71,Michael Nsengiyumva,Huye,2.900000e+01,8.013970e+05,1997-09-06,B-,No
5,Jean Nshimiyimana,Karongi,2.900000e+01,5.043190e+05,1997-08-12,A-,No
96,Gilbert Niyonzima,Rwamagana,3.000000e+01,4.032323e+01,1996-04-13,O+,Yes
51,Joseph Uwimana,Muhanga,3.000000e+01,7.151170e+05,1996-04-11,O+,No
0,Joseph Mutoni,Kigali,3.100000e+01,4.813280e+05,1995-07-13,O-,Y
57,Yvette Gahigi,Rwamagana,3.100000e+01,5.784990e+05,1995-01-02,A+,No
32,Esther Niyomugabo,Karongi,3.300000e+01,9.482020e+05,1993-02-10,A+,No
73,Alice Iradukunda,Kigali,3.400000e+01,9.248520e+05,1992-07-27,B+,No
84,Nadine Gahigi,Huye,3.500000e+01,6.765270e+05,1991-11-25,A+,No
54,Gilbert Habyarimana,Kigali,3.500000e+01,4.021540e+05,1991-04-03,AB-,No
17,Yvette Rukundo,Rusizi,3.700000e+01,6.255310e+05,1989-12-28,A+,No
16,Sandrine Rukundo,Karongi,3.700000e+01,1.000000e+08,1989-10-19,A+,No
8,Emmanuel Nkurunziza,Rusizi,3.700000e+01,6.214040e+05,1989-08-18,O-,Yes
72,Emmanuel Nkurunziza,Rusizi,3.700000e+01,6.214040e+05,1989-08-18,O-,Yes
31,Samuel Dusenge,Musanze,3.800000e+01,7.811530e+05,1988-05-13,B+,No
89,Emmanuel Iradukunda,Kayonza,3.800000e+01,8.534220e+05,1988-04-17,AB-,No
74,Patrick Mutoni,Kigali,4.000000e+01,7.757650e+05,1986-05-15,O-,No
36,Alice Nshimiyimana,Nyagatare,4.100000e+01,1.030014e+06,1985-07-26,B+,No
42,Fabrice Mukamana,Rubavu,4.100000e+01,5.182050e+05,1985-05-31,A-,No
86,Joseph Mukamana,Rusizi,4.300000e+01,1.523070e+05,1983-12-05,B+,No
39,Esther Munyaneza,Nyagatare,4.400000e+01,8.086190e+05,1982-12-23,O-,No
41,Esther Hakizimana,Kigali,4.400000e+01,-5.000000e+04,1982-09-03,O-,No
98,Sandrine Mugabo,Musanze,4.400000e+01,5.675490e+05,1982-07-16,AB+,Yes
79,Sandrine Munyaneza,Rwamagana,4.400000e+01,5.088120e+05,1982-01-12,AB-,Yes
78,Sarah Nsengiyumva,Nyagatare,4.600000e+01,7.951270e+05,1980-12-30,O+,Yes
20,Joseph Uwimana,Kayonza,4.600000e+01,1.123210e+06,1980-10-02,A+,No
43,Joseph Uwimana,Kayonza,4.600000e+01,1.123210e+06,1980-10-02,A+,No
80,Joseph Uwimana,Kayonza,4.600000e+01,1.123210e+06,1980-10-02,A+,No
29,Patrick Mugabo,Huye,1.500000e+01,5.204190e+05,1980-01-06,B+,No
53,Eric Bizimana,Kigali,4.700000e+01,6.623210e+05,1979-10-31,A+,No

In [84]:
df.to_csv('Cleaned.csv')