In [1]:
import pandas as pd
import numpy as np

data1 = {
"id": range(1, 21),
    "age": [25, 31, None, 45, 38, 29, None, 52, 41, 33, None, 27, 36, None, 49, 58, 22, None, 40, 34],
    "income": [45000, 52000, 61000, None, 48000, None, 73000, 80000, None, 54000, 59000, None, 62000, 70000, None, 90000, 41000, 46000, None, None],
    "city": ["Kigali", "NYC", None, "Kigali", "Huye", "NYC", "NYC", None, "Musanze", "Kigali", None, "Huye", "NYC", "Kigali", None, "NYC", "Kigali", None, "Huye", None],
    "gender": ["F", None, "M", "F", None, "F", "M", None, "F", "M", None, None, "F", "M", None, "F", "M", None, None, "F"],
    "signup_date": [
        "2025-01-01", "2025-01-02", None, "2025-01-05", None, "2025-01-07", None, None, "2025-01-10", None,
        None, "2025-01-14", None, None, "2025-01-17", None, "2025-01-19", None, None, "2025-01-22"
    ],
    "score": [80, None, 75, 90, 60, None, 88, 92, None, 70, 65, None, 77, 85, None, 95, 55, None, 68, 73],
    # ~90% missing
    "remarks": [None, None, None, "ok", None, None, None, None, None, None, None, None, None, None, "check", None, None, None, None, None],
    # ~95% missing
    "notes": [None, None, None, None, None, None, None, None, None, None, None, None, "rare", None, None, None, None, None, None, None],
}

df = pd.DataFrame(data1)
df.to_csv("missing_values.csv", index=False)
df.head(2)

   id   age   income    city gender signup_date  score remarks notes
0   1  25.0  45000.0  Kigali      F  2025-01-01   80.0    None  None
1   2  31.0  52000.0     NYC   None  2025-01-02    NaN    None  None

In [2]:
df

    id   age   income     city gender signup_date  score remarks notes
0    1  25.0  45000.0   Kigali      F  2025-01-01   80.0    None  None
1    2  31.0  52000.0      NYC   None  2025-01-02    NaN    None  None
2    3   NaN  61000.0     None      M        None   75.0    None  None
3    4  45.0      NaN   Kigali      F  2025-01-05   90.0      ok  None
4    5  38.0  48000.0     Huye   None        None   60.0    None  None
5    6  29.0      NaN      NYC      F  2025-01-07    NaN    None  None
6    7   NaN  73000.0      NYC      M        None   88.0    None  None
7    8  52.0  80000.0     None   None        None   92.0    None  None
8    9  41.0      NaN  Musanze      F  2025-01-10    NaN    None  None
9   10  33.0  54000.0   Kigali      M        None   70.0    None  None
10  11   NaN  59000.0     None   None        None   65.0    None  None
11  12  27.0      NaN     Huye   None  2025-01-14    NaN    None  None
12  13  36.0  62000.0      NYC      F        None   77.0    None  rare
13  14   NaN  70000.0   Kigali      M        None   85.0    None  None
14  15  49.0      NaN     None   None  2025-01-17    NaN   check  None
15  16  58.0  90000.0      NYC      F        None   95.0    None  None
16  17  22.0  41000.0   Kigali      M  2025-01-19   55.0    None  None
17  18   NaN  46000.0     None   None        None    NaN    None  None
18  19  40.0      NaN     Huye   None        None   68.0    None  None
19  20  34.0      NaN     None      F  2025-01-22   73.0    None  None

In [5]:
# Count and percentage of missing values
missing_count = df.isna().sum()  # or df.isnull()
missing_percent = df.isna().mean()

print("Missing counts:\n", missing_count)
print("\nMissing percentages:\n", missing_percent)

Missing counts:
 id              0
age             5
income          7
city            6
gender          8
signup_date    11
score           6
remarks        18
notes          19
dtype: int64

Missing percentages:
 id             0.00
age            0.25
income         0.35
city           0.30
gender         0.40
signup_date    0.55
score          0.30
remarks        0.90
notes          0.95
dtype: float64

In [10]:
threshold = 0.80
to_drop = missing_percent[missing_percent > threshold].index.tolist() #Extracts the column names (index) as a Python list
print("Columns to drop (>80% missing):", to_drop)

df = df.drop(columns=to_drop)  # drops 'remarks' and 'notes'
df.head()

Columns to drop (>80% missing): ['remarks', 'notes']

KeyError: "['remarks', 'notes'] not found in axis"

In [11]:
df

    id   age   income     city gender signup_date  score
0    1  25.0  45000.0   Kigali      F  2025-01-01   80.0
1    2  31.0  52000.0      NYC   None  2025-01-02    NaN
2    3   NaN  61000.0     None      M        None   75.0
3    4  45.0      NaN   Kigali      F  2025-01-05   90.0
4    5  38.0  48000.0     Huye   None        None   60.0
5    6  29.0      NaN      NYC      F  2025-01-07    NaN
6    7   NaN  73000.0      NYC      M        None   88.0
7    8  52.0  80000.0     None   None        None   92.0
8    9  41.0      NaN  Musanze      F  2025-01-10    NaN
9   10  33.0  54000.0   Kigali      M        None   70.0
10  11   NaN  59000.0     None   None        None   65.0
11  12  27.0      NaN     Huye   None  2025-01-14    NaN
12  13  36.0  62000.0      NYC      F        None   77.0
13  14   NaN  70000.0   Kigali      M        None   85.0
14  15  49.0      NaN     None   None  2025-01-17    NaN
15  16  58.0  90000.0      NYC      F        None   95.0
16  17  22.0  41000.0   Kigali      M  2025-01-19   55.0
17  18   NaN  46000.0     None   None        None    NaN
18  19  40.0      NaN     Huye   None        None   68.0
19  20  34.0      NaN     None      F  2025-01-22   73.0

In [12]:
import numpy as np

# Parse dates for time-aware fill
df["signup_date"] = pd.to_datetime(df["signup_date"], format="%Y-%m-%d",errors="coerce")
df

    id   age   income     city gender signup_date  score
0    1  25.0  45000.0   Kigali      F  2025-01-01   80.0
1    2  31.0  52000.0      NYC   None  2025-01-02    NaN
2    3   NaN  61000.0     None      M         NaT   75.0
3    4  45.0      NaN   Kigali      F  2025-01-05   90.0
4    5  38.0  48000.0     Huye   None         NaT   60.0
5    6  29.0      NaN      NYC      F  2025-01-07    NaN
6    7   NaN  73000.0      NYC      M         NaT   88.0
7    8  52.0  80000.0     None   None         NaT   92.0
8    9  41.0      NaN  Musanze      F  2025-01-10    NaN
9   10  33.0  54000.0   Kigali      M         NaT   70.0
10  11   NaN  59000.0     None   None         NaT   65.0
11  12  27.0      NaN     Huye   None  2025-01-14    NaN
12  13  36.0  62000.0      NYC      F         NaT   77.0
13  14   NaN  70000.0   Kigali      M         NaT   85.0
14  15  49.0      NaN     None   None  2025-01-17    NaN
15  16  58.0  90000.0      NYC      F         NaT   95.0
16  17  22.0  41000.0   Kigali      M  2025-01-19   55.0
17  18   NaN  46000.0     None   None         NaT    NaN
18  19  40.0      NaN     Huye   None         NaT   68.0
19  20  34.0      NaN     None      F  2025-01-22   73.0

In [15]:
# --- 4.1 Mode imputation (categorical) ---
for c in ["city", "gender"]:
    mode_val = df[c].mode(dropna=True) #ignore missing values
    if len(mode_val) > 0: # fill mode which located on index 0 if there if two or more modes
        df[c] = df[c].fillna(mode_val.iloc[0])
df

    id   age   income     city gender signup_date  score
0    1  25.0  45000.0   Kigali      F  2025-01-01   80.0
1    2  31.0  52000.0      NYC      F  2025-01-02    NaN
2    3   NaN  61000.0   Kigali      M         NaT   75.0
3    4  45.0      NaN   Kigali      F  2025-01-05   90.0
4    5  38.0  48000.0     Huye      F         NaT   60.0
5    6  29.0      NaN      NYC      F  2025-01-07    NaN
6    7   NaN  73000.0      NYC      M         NaT   88.0
7    8  52.0  80000.0   Kigali      F         NaT   92.0
8    9  41.0      NaN  Musanze      F  2025-01-10    NaN
9   10  33.0  54000.0   Kigali      M         NaT   70.0
10  11   NaN  59000.0   Kigali      F         NaT   65.0
11  12  27.0      NaN     Huye      F  2025-01-14    NaN
12  13  36.0  62000.0      NYC      F         NaT   77.0
13  14   NaN  70000.0   Kigali      M         NaT   85.0
14  15  49.0      NaN   Kigali      F  2025-01-17    NaN
15  16  58.0  90000.0      NYC      F         NaT   95.0
16  17  22.0  41000.0   Kigali      M  2025-01-19   55.0
17  18   NaN  46000.0   Kigali      F         NaT    NaN
18  19  40.0      NaN     Huye      F         NaT   68.0
19  20  34.0      NaN   Kigali      F  2025-01-22   73.0

In [16]:
# --- 4.2 Numeric imputation ---
for col in ["age", "income", "score"]:
    df[col] = pd.to_numeric(df[col], errors="coerce")# tries to convert every value in the column to a number
 #  With errors="coerce", pandas silently replaces invalid entries with NaN 

age_mean = df["age"].mean()
income_mean = df["income"].mean()
score_median = df["score"].median()

df["age"] = df["age"].fillna(age_mean)         # mean
df["income"] = df["income"].fillna(income_mean) # mean
df["score"] = df["score"].fillna(score_median)  # median
df

    id        age        income     city gender signup_date  score
0    1  25.000000  45000.000000   Kigali      F  2025-01-01   80.0
1    2  31.000000  52000.000000      NYC      F  2025-01-02   76.0
2    3  37.333333  61000.000000   Kigali      M         NaT   75.0
3    4  45.000000  60076.923077   Kigali      F  2025-01-05   90.0
4    5  38.000000  48000.000000     Huye      F         NaT   60.0
5    6  29.000000  60076.923077      NYC      F  2025-01-07   76.0
6    7  37.333333  73000.000000      NYC      M         NaT   88.0
7    8  52.000000  80000.000000   Kigali      F         NaT   92.0
8    9  41.000000  60076.923077  Musanze      F  2025-01-10   76.0
9   10  33.000000  54000.000000   Kigali      M         NaT   70.0
10  11  37.333333  59000.000000   Kigali      F         NaT   65.0
11  12  27.000000  60076.923077     Huye      F  2025-01-14   76.0
12  13  36.000000  62000.000000      NYC      F         NaT   77.0
13  14  37.333333  70000.000000   Kigali      M         NaT   85.0
14  15  49.000000  60076.923077   Kigali      F  2025-01-17   76.0
15  16  58.000000  90000.000000      NYC      F         NaT   95.0
16  17  22.000000  41000.000000   Kigali      M  2025-01-19   55.0
17  18  37.333333  46000.000000   Kigali      F         NaT   76.0
18  19  40.000000  60076.923077     Huye      F         NaT   68.0
19  20  34.000000  60076.923077   Kigali      F  2025-01-22   73.0

In [17]:
# --- 4.3 Forward / backward fill for signup_date ---
# Sort by date for a sensible forward fill, then back fill gaps
df = df.sort_values(["signup_date", "id"]) # Forward/backward filling is order-dependent
df["signup_date"] = df["signup_date"].ffill().bfill()
#Using both in sequence gives you a fill from nearest known neighbor effect:
#Gaps in the middle are filled by ffill.
#Gaps at the top (no prior value) get filled by bfill.
df

    id        age        income     city gender signup_date  score
0    1  25.000000  45000.000000   Kigali      F  2025-01-01   80.0
1    2  31.000000  52000.000000      NYC      F  2025-01-02   76.0
3    4  45.000000  60076.923077   Kigali      F  2025-01-05   90.0
5    6  29.000000  60076.923077      NYC      F  2025-01-07   76.0
8    9  41.000000  60076.923077  Musanze      F  2025-01-10   76.0
11  12  27.000000  60076.923077     Huye      F  2025-01-14   76.0
14  15  49.000000  60076.923077   Kigali      F  2025-01-17   76.0
16  17  22.000000  41000.000000   Kigali      M  2025-01-19   55.0
19  20  34.000000  60076.923077   Kigali      F  2025-01-22   73.0
2    3  37.333333  61000.000000   Kigali      M  2025-01-22   75.0
4    5  38.000000  48000.000000     Huye      F  2025-01-22   60.0
6    7  37.333333  73000.000000      NYC      M  2025-01-22   88.0
7    8  52.000000  80000.000000   Kigali      F  2025-01-22   92.0
9   10  33.000000  54000.000000   Kigali      M  2025-01-22   70.0
10  11  37.333333  59000.000000   Kigali      F  2025-01-22   65.0
12  13  36.000000  62000.000000      NYC      F  2025-01-22   77.0
13  14  37.333333  70000.000000   Kigali      M  2025-01-22   85.0
15  16  58.000000  90000.000000      NYC      F  2025-01-22   95.0
17  18  37.333333  46000.000000   Kigali      F  2025-01-22   76.0
18  19  40.000000  60076.923077     Huye      F  2025-01-22   68.0

In [18]:
# Restore natural order by id
df = df.sort_values("id").reset_index(drop=True)
print(df)

    id        age        income     city gender signup_date  score
0    1  25.000000  45000.000000   Kigali      F  2025-01-01   80.0
1    2  31.000000  52000.000000      NYC      F  2025-01-02   76.0
2    3  37.333333  61000.000000   Kigali      M  2025-01-22   75.0
3    4  45.000000  60076.923077   Kigali      F  2025-01-05   90.0
4    5  38.000000  48000.000000     Huye      F  2025-01-22   60.0
5    6  29.000000  60076.923077      NYC      F  2025-01-07   76.0
6    7  37.333333  73000.000000      NYC      M  2025-01-22   88.0
7    8  52.000000  80000.000000   Kigali      F  2025-01-22   92.0
8    9  41.000000  60076.923077  Musanze      F  2025-01-10   76.0
9   10  33.000000  54000.000000   Kigali      M  2025-01-22   70.0
10  11  37.333333  59000.000000   Kigali      F  2025-01-22   65.0
11  12  27.000000  60076.923077     Huye      F  2025-01-14   76.0
12  13  36.000000  62000.000000      NYC      F  2025-01-22   77.0
13  14  37.333333  70000.000000   Kigali      M  2025-01-22   85.0
14  15  49.000000  60076.923077   Kigali      F  2025-01-17   76.0
15  16  58.000000  90000.000000      NYC      F  2025-01-22   95.0
16  17  22.000000  41000.000000   Kigali      M  2025-01-19   55.0
17  18  37.333333  46000.000000   Kigali      F  2025-01-22   76.0
18  19  40.000000  60076.923077     Huye      F  2025-01-22   68.0
19  20  34.000000  60076.923077   Kigali      F  2025-01-22   73.0

In [19]:
print("Any missing left?\n", df.isna().sum())
print("\nImputation values used:")
print("  age mean:", round(age_mean, 2))
print("  income mean:", round(income_mean, 2))
print("  score median:", round(score_median, 2))

df.head(10)

Any missing left?
 id             0
age            0
income         0
city           0
gender         0
signup_date    0
score          0
dtype: int64

Imputation values used:
  age mean: 37.33
  income mean: 60076.92
  score median: 76.0

   id        age        income     city gender signup_date  score
0   1  25.000000  45000.000000   Kigali      F  2025-01-01   80.0
1   2  31.000000  52000.000000      NYC      F  2025-01-02   76.0
2   3  37.333333  61000.000000   Kigali      M  2025-01-22   75.0
3   4  45.000000  60076.923077   Kigali      F  2025-01-05   90.0
4   5  38.000000  48000.000000     Huye      F  2025-01-22   60.0
5   6  29.000000  60076.923077      NYC      F  2025-01-07   76.0
6   7  37.333333  73000.000000      NYC      M  2025-01-22   88.0
7   8  52.000000  80000.000000   Kigali      F  2025-01-22   92.0
8   9  41.000000  60076.923077  Musanze      F  2025-01-10   76.0
9  10  33.000000  54000.000000   Kigali      M  2025-01-22   70.0

In [20]:
#Save the cleaned result
df.to_csv("missing_values_demo_cleaned.csv", index=False)

In [22]:
# Step 1: Check for duplicates
# Count duplicate rows
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [ ]:
# Step 2: Remove duplicates
# Remove duplicate rows, keep the first occurrence (alive)
df = df.drop_duplicates()
df