In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('ds5_customer_survey.csv')
# df.head()
df

    resp_id   country       satisfaction   age          email
0      9001       NaN     very satisfied  22.0  c@example.com
1      9002    Rwanda     very satisfied  32.0  d@example.com
2      9003       NaN            neutral  49.0  a@example.com
3      9004     Kenya          satisfied  20.0  b@example.com
4      9005  Tanzania  very dissatisfied     ?            NaN
5      9006   Burundi  very dissatisfied  32.0  d@example.com
6      9007       NaN                  ?  49.0  a@example.com
7      9008  Tanzania  very dissatisfied  25.0  b@example.com
8      9009       NaN       dissatisfied  23.0            NaN
9      9010     Kenya                NaN  22.0  b@example.com
10     9011    Uganda     very satisfied  64.0            NaN
11     9012     Kenya  very dissatisfied  33.0  d@example.com
12     9013     Kenya            neutral   NaN  a@example.com
13     9014  Tanzania     very satisfied  34.0  b@example.com
14     9015    Rwanda                  ?  56.0  c@example.com
15     9016    Uganda       dissatisfied  22.0  d@example.com
16     9017  Tanzania            neutral  41.0  a@example.com
17     9018       NaN                NaN  44.0  a@example.com
18     9019     Kenya          satisfied     ?  b@example.com
19     9020       NaN     very satisfied  38.0              ?
20     9021       NaN     very satisfied   NaN  c@example.com
21     9022  Tanzania                NaN   NaN  c@example.com
22     9023    Uganda          satisfied  63.0  d@example.com
23     9024         ?          satisfied  51.0  b@example.com
24     9025    Rwanda  very dissatisfied  32.0  b@example.com
25     9026   Burundi     very satisfied  52.0  b@example.com
26     9027  Tanzania                NaN   NaN  b@example.com
27     9028   Burundi     very satisfied  53.0  a@example.com
28     9029    Rwanda       dissatisfied  51.0  c@example.com
29     9030  Tanzania       dissatisfied  52.0  d@example.com
30     9031  Tanzania     very satisfied  32.0            NaN
31     9032   Burundi                NaN  20.0  c@example.com
32     9033    Uganda     very satisfied   NaN  c@example.com
33     9034    Uganda            neutral   NaN  c@example.com
34     9035    Rwanda            neutral   NaN  a@example.com
35     9036    Rwanda     very satisfied  60.0              ?
36     9037    Uganda          satisfied  43.0            NaN
37     9038    Uganda     very satisfied  27.0  b@example.com
38     9039    Uganda                NaN  47.0  c@example.com
39     9040    Rwanda                NaN  59.0  d@example.com
40     9041     Kenya       dissatisfied  53.0  c@example.com
41     9042    Rwanda       dissatisfied  34.0            NaN
42     9043    Uganda          satisfied  42.0            NaN
43     9044         ?     very satisfied  28.0  c@example.com
44     9045  Tanzania     very satisfied  64.0  b@example.com
45     9011    Uganda     very satisfied  64.0            NaN
46     9029    Rwanda       dissatisfied  51.0  c@example.com
47     9010     Kenya                NaN  22.0  b@example.com
48     9045  Tanzania     very satisfied  64.0  b@example.com
49     9021       NaN     very satisfied   NaN  c@example.com
50     9044         ?     very satisfied  28.0  c@example.com
51     9023    Uganda          satisfied  63.0  d@example.com
52     9035    Rwanda            neutral   NaN  a@example.com
53     9039    Uganda                NaN  47.0  c@example.com
54     9030  Tanzania       dissatisfied  52.0  d@example.com

In [4]:
missing_count = df.isna().sum()
missing_percentage = df.isna().mean()
print("Missing value", missing_count)
print("\nMissing percentage\n", missing_percentage)

Missing value resp_id         0
country         0
satisfaction    0
age             9
email           0
dtype: int64

Missing percentage
 resp_id         0.000000
country         0.000000
satisfaction    0.000000
age             0.163636
email           0.000000
dtype: float64

In [3]:
for col in ["country", "satisfaction", "email"]:
    mode = df[col].mode(dropna=True)
    if len(mode) > 0:
        df[col] = df[col].fillna(mode.iloc[0])
df

    resp_id   country       satisfaction   age          email
0      9001    Uganda     very satisfied  22.0  c@example.com
1      9002    Rwanda     very satisfied  32.0  d@example.com
2      9003    Uganda            neutral  49.0  a@example.com
3      9004     Kenya          satisfied  20.0  b@example.com
4      9005  Tanzania  very dissatisfied     ?  c@example.com
5      9006   Burundi  very dissatisfied  32.0  d@example.com
6      9007    Uganda                  ?  49.0  a@example.com
7      9008  Tanzania  very dissatisfied  25.0  b@example.com
8      9009    Uganda       dissatisfied  23.0  c@example.com
9      9010     Kenya     very satisfied  22.0  b@example.com
10     9011    Uganda     very satisfied  64.0  c@example.com
11     9012     Kenya  very dissatisfied  33.0  d@example.com
12     9013     Kenya            neutral   NaN  a@example.com
13     9014  Tanzania     very satisfied  34.0  b@example.com
14     9015    Rwanda                  ?  56.0  c@example.com
15     9016    Uganda       dissatisfied  22.0  d@example.com
16     9017  Tanzania            neutral  41.0  a@example.com
17     9018    Uganda     very satisfied  44.0  a@example.com
18     9019     Kenya          satisfied     ?  b@example.com
19     9020    Uganda     very satisfied  38.0              ?
20     9021    Uganda     very satisfied   NaN  c@example.com
21     9022  Tanzania     very satisfied   NaN  c@example.com
22     9023    Uganda          satisfied  63.0  d@example.com
23     9024         ?          satisfied  51.0  b@example.com
24     9025    Rwanda  very dissatisfied  32.0  b@example.com
25     9026   Burundi     very satisfied  52.0  b@example.com
26     9027  Tanzania     very satisfied   NaN  b@example.com
27     9028   Burundi     very satisfied  53.0  a@example.com
28     9029    Rwanda       dissatisfied  51.0  c@example.com
29     9030  Tanzania       dissatisfied  52.0  d@example.com
30     9031  Tanzania     very satisfied  32.0  c@example.com
31     9032   Burundi     very satisfied  20.0  c@example.com
32     9033    Uganda     very satisfied   NaN  c@example.com
33     9034    Uganda            neutral   NaN  c@example.com
34     9035    Rwanda            neutral   NaN  a@example.com
35     9036    Rwanda     very satisfied  60.0              ?
36     9037    Uganda          satisfied  43.0  c@example.com
37     9038    Uganda     very satisfied  27.0  b@example.com
38     9039    Uganda     very satisfied  47.0  c@example.com
39     9040    Rwanda     very satisfied  59.0  d@example.com
40     9041     Kenya       dissatisfied  53.0  c@example.com
41     9042    Rwanda       dissatisfied  34.0  c@example.com
42     9043    Uganda          satisfied  42.0  c@example.com
43     9044         ?     very satisfied  28.0  c@example.com
44     9045  Tanzania     very satisfied  64.0  b@example.com
45     9011    Uganda     very satisfied  64.0  c@example.com
46     9029    Rwanda       dissatisfied  51.0  c@example.com
47     9010     Kenya     very satisfied  22.0  b@example.com
48     9045  Tanzania     very satisfied  64.0  b@example.com
49     9021    Uganda     very satisfied   NaN  c@example.com
50     9044         ?     very satisfied  28.0  c@example.com
51     9023    Uganda          satisfied  63.0  d@example.com
52     9035    Rwanda            neutral   NaN  a@example.com
53     9039    Uganda     very satisfied  47.0  c@example.com
54     9030  Tanzania       dissatisfied  52.0  d@example.com

In [6]:
for col in ["age"]:
    mode = df[col].mode(dropna=True)
    if len(mode) > 0:
        df[col] = df[col].fillna(mode.iloc[0])
df

    resp_id   country       satisfaction   age          email
0      9001    Uganda     very satisfied  22.0  c@example.com
1      9002    Rwanda     very satisfied  32.0  d@example.com
2      9003    Uganda            neutral  49.0  a@example.com
3      9004     Kenya          satisfied  20.0  b@example.com
4      9005  Tanzania  very dissatisfied     ?  c@example.com
5      9006   Burundi  very dissatisfied  32.0  d@example.com
6      9007    Uganda                  ?  49.0  a@example.com
7      9008  Tanzania  very dissatisfied  25.0  b@example.com
8      9009    Uganda       dissatisfied  23.0  c@example.com
9      9010     Kenya     very satisfied  22.0  b@example.com
10     9011    Uganda     very satisfied  64.0  c@example.com
11     9012     Kenya  very dissatisfied  33.0  d@example.com
12     9013     Kenya            neutral  22.0  a@example.com
13     9014  Tanzania     very satisfied  34.0  b@example.com
14     9015    Rwanda                  ?  56.0  c@example.com
15     9016    Uganda       dissatisfied  22.0  d@example.com
16     9017  Tanzania            neutral  41.0  a@example.com
17     9018    Uganda     very satisfied  44.0  a@example.com
18     9019     Kenya          satisfied     ?  b@example.com
19     9020    Uganda     very satisfied  38.0              ?
20     9021    Uganda     very satisfied  22.0  c@example.com
21     9022  Tanzania     very satisfied  22.0  c@example.com
22     9023    Uganda          satisfied  63.0  d@example.com
23     9024         ?          satisfied  51.0  b@example.com
24     9025    Rwanda  very dissatisfied  32.0  b@example.com
25     9026   Burundi     very satisfied  52.0  b@example.com
26     9027  Tanzania     very satisfied  22.0  b@example.com
27     9028   Burundi     very satisfied  53.0  a@example.com
28     9029    Rwanda       dissatisfied  51.0  c@example.com
29     9030  Tanzania       dissatisfied  52.0  d@example.com
30     9031  Tanzania     very satisfied  32.0  c@example.com
31     9032   Burundi     very satisfied  20.0  c@example.com
32     9033    Uganda     very satisfied  22.0  c@example.com
33     9034    Uganda            neutral  22.0  c@example.com
34     9035    Rwanda            neutral  22.0  a@example.com
35     9036    Rwanda     very satisfied  60.0              ?
36     9037    Uganda          satisfied  43.0  c@example.com
37     9038    Uganda     very satisfied  27.0  b@example.com
38     9039    Uganda     very satisfied  47.0  c@example.com
39     9040    Rwanda     very satisfied  59.0  d@example.com
40     9041     Kenya       dissatisfied  53.0  c@example.com
41     9042    Rwanda       dissatisfied  34.0  c@example.com
42     9043    Uganda          satisfied  42.0  c@example.com
43     9044         ?     very satisfied  28.0  c@example.com
44     9045  Tanzania     very satisfied  64.0  b@example.com
45     9011    Uganda     very satisfied  64.0  c@example.com
46     9029    Rwanda       dissatisfied  51.0  c@example.com
47     9010     Kenya     very satisfied  22.0  b@example.com
48     9045  Tanzania     very satisfied  64.0  b@example.com
49     9021    Uganda     very satisfied  22.0  c@example.com
50     9044         ?     very satisfied  28.0  c@example.com
51     9023    Uganda          satisfied  63.0  d@example.com
52     9035    Rwanda            neutral  22.0  a@example.com
53     9039    Uganda     very satisfied  47.0  c@example.com
54     9030  Tanzania       dissatisfied  52.0  d@example.com

In [7]:
missing_count = df.isna().sum()
missing_percentage = df.isna().mean()
print("Missing value\n", missing_count)
print("\nMissing percentage\n", missing_percentage)

Missing value
 resp_id         0
country         0
satisfaction    0
age             0
email           0
dtype: int64

Missing percentage
 resp_id         0.0
country         0.0
satisfaction    0.0
age             0.0
email           0.0
dtype: float64

In [11]:
import matplotlib.pyplot as plt

df.boxplot(figsize=(10, 5))
plt.title("Check for Outliers")
plt.show()

KeyError: 'Age'

In [ ]:
# Step 3: Easy IQR Method
# def find_outliers_simple(column):
#     Q1 = column.quantile(0.25)  # 25th percentile
#     Q3 = column.quantile(0.75)  # 75th percentile
#     IQR = Q3 - Q1
#     lower = Q1 - 1.5 * IQR
#     upper = Q3 + 1.5 * IQR
#     return lower, upper

# print("OUTLIER BOUNDARIES:")
# for col in df.columns:
#     lower, upper = find_outliers_simple(df[col])
#     outliers = df[(df[col] < lower) | (df[col] > upper)]
#     print(f"{col}: {len(outliers)} outliers")

In [9]:
# check for duplicate
print("DUPLICATE VALUES\n", df.duplicated().sum())
df = df.drop_duplicates()
print("After duplication deleted:\n", df.duplicated().sum())

DUPLICATE VALUES
 10
After duplication deleted:
 0