In [1]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearcRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [8]:
df = pd.read_excel('price_sales_data.xlsx')
df.head()

    Sales   Price
0  437.09  255.47
1  955.64  486.39
2  758.79  373.61
3  638.79  304.34
4  240.42   46.28

In [ ]:
X = df.drop('Price', axis='columns')
y = df.Price
# X_train, X_test, y_train, y_test = train_test_split()