In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('ds1_retail_orders.csv')
# df.head()
df

    order_id customer           city  quantity unit_price
0       1000    Grace        Musanze         5      29.99
1       1001    Frank        Musanze         2      59.99
2       1002    Grace        Musanze         1      59.99
3       1003    Carol  New York City         1      49.99
4       1004      Eve           Huye         4          ?
5       1005    Carol         Kigali         2      49.99
6       1006    Grace            NaN         4      19.99
7       1007      Bob            NaN         4      59.99
8       1008    David            NYC         4      59.99
9       1009    Carol           Huye         2      59.99
10      1010    David         Kigali         2      59.99
11      1011      Bob            NYC         3        NaN
12      1012    Grace           Huye         4      19.99
13      1013      Bob         Kigali         4      29.99
14      1014    Alice         Kigali         4        NaN
15      1015      Bob         Kigali         4        NaN
16      1016    Grace         Kigali         1          ?
17      1017      Bob        Musanze         2      39.99
18      1018    Alice           Huye         4      39.99
19      1019    Grace            NaN         2      19.99
20      1020    Alice            NaN         5      29.99
21      1021      Bob        Musanze         4      19.99
22      1022    David           Huye         2      39.99
23      1023    Grace            NaN         3      59.99
24      1024    Frank            NYC         4      59.99
25      1025      Eve              ?         5      29.99
26      1026    Alice           Huye         4      39.99
27      1027    Alice  New York City         2      49.99
28      1028      Eve            NaN         1      29.99
29      1029      Bob         Kigali         1        NaN
30      1030    David  New York City         4      49.99
31      1031    Carol         Kigali         1      29.99
32      1032      Eve        Musanze         2      29.99
33      1033    Carol            NYC         2        NaN
34      1034      Eve  New York City         1      29.99
35      1035    Alice        Musanze         4        NaN
36      1036    Frank              ?         2      29.99
37      1037    Alice  New York City         4      19.99
38      1038      Bob  New York City         5      29.99
39      1039    David           Huye         5      39.99
40      1008    David            NYC         4      59.99
41      1009    Carol           Huye         2      59.99
42      1005    Carol         Kigali         2      49.99
43      1032      Eve        Musanze         2      29.99
44      1022    David           Huye         2      39.99
45      1020    Alice            NaN         5      29.99

In [11]:
missing_count = df.isna().sum()
missing_percentage = df.isna().mean()
print("Missing value", missing_count)
print("\nMissing percentage\n", missing_percentage)

Missing value order_id      0
customer      0
city          7
quantity      0
unit_price    6
dtype: int64

Missing percentage
 order_id      0.000000
customer      0.000000
city          0.152174
quantity      0.000000
unit_price    0.130435
dtype: float64

In [ ]:
# --- 4.1 Mode imputation (categorical) ---
for c in ["city", "gender"]:
    mode_val = df[c].mode(dropna=True) #ignore missing values
    if len(mode_val) > 0: # fill mode which located on index 0 if there if two or more modes
        df[c] = df[c].fillna(mode_val.iloc[0])
df

In [13]:
for col in ["city"]:
    mode = df[col].mode(dropna=True)
    if len(mode) > 0:
        df[col] = df[col].fillna(mode.iloc[0])
df

    order_id customer           city  quantity unit_price
0       1000    Grace        Musanze         5      29.99
1       1001    Frank        Musanze         2      59.99
2       1002    Grace        Musanze         1      59.99
3       1003    Carol  New York City         1      49.99
4       1004      Eve           Huye         4          ?
5       1005    Carol         Kigali         2      49.99
6       1006    Grace           Huye         4      19.99
7       1007      Bob           Huye         4      59.99
8       1008    David            NYC         4      59.99
9       1009    Carol           Huye         2      59.99
10      1010    David         Kigali         2      59.99
11      1011      Bob            NYC         3        NaN
12      1012    Grace           Huye         4      19.99
13      1013      Bob         Kigali         4      29.99
14      1014    Alice         Kigali         4        NaN
15      1015      Bob         Kigali         4        NaN
16      1016    Grace         Kigali         1          ?
17      1017      Bob        Musanze         2      39.99
18      1018    Alice           Huye         4      39.99
19      1019    Grace           Huye         2      19.99
20      1020    Alice           Huye         5      29.99
21      1021      Bob        Musanze         4      19.99
22      1022    David           Huye         2      39.99
23      1023    Grace           Huye         3      59.99
24      1024    Frank            NYC         4      59.99
25      1025      Eve              ?         5      29.99
26      1026    Alice           Huye         4      39.99
27      1027    Alice  New York City         2      49.99
28      1028      Eve           Huye         1      29.99
29      1029      Bob         Kigali         1        NaN
30      1030    David  New York City         4      49.99
31      1031    Carol         Kigali         1      29.99
32      1032      Eve        Musanze         2      29.99
33      1033    Carol            NYC         2        NaN
34      1034      Eve  New York City         1      29.99
35      1035    Alice        Musanze         4        NaN
36      1036    Frank              ?         2      29.99
37      1037    Alice  New York City         4      19.99
38      1038      Bob  New York City         5      29.99
39      1039    David           Huye         5      39.99
40      1008    David            NYC         4      59.99
41      1009    Carol           Huye         2      59.99
42      1005    Carol         Kigali         2      49.99
43      1032      Eve        Musanze         2      29.99
44      1022    David           Huye         2      39.99
45      1020    Alice           Huye         5      29.99

In [14]:
for col in ["unit_price"]:
    mode = df[col].mode(dropna=True)
    if len(mode) > 0:
        df[col] = df[col].fillna(mode.iloc[0])
df

    order_id customer           city  quantity unit_price
0       1000    Grace        Musanze         5      29.99
1       1001    Frank        Musanze         2      59.99
2       1002    Grace        Musanze         1      59.99
3       1003    Carol  New York City         1      49.99
4       1004      Eve           Huye         4          ?
5       1005    Carol         Kigali         2      49.99
6       1006    Grace           Huye         4      19.99
7       1007      Bob           Huye         4      59.99
8       1008    David            NYC         4      59.99
9       1009    Carol           Huye         2      59.99
10      1010    David         Kigali         2      59.99
11      1011      Bob            NYC         3      29.99
12      1012    Grace           Huye         4      19.99
13      1013      Bob         Kigali         4      29.99
14      1014    Alice         Kigali         4      29.99
15      1015      Bob         Kigali         4      29.99
16      1016    Grace         Kigali         1          ?
17      1017      Bob        Musanze         2      39.99
18      1018    Alice           Huye         4      39.99
19      1019    Grace           Huye         2      19.99
20      1020    Alice           Huye         5      29.99
21      1021      Bob        Musanze         4      19.99
22      1022    David           Huye         2      39.99
23      1023    Grace           Huye         3      59.99
24      1024    Frank            NYC         4      59.99
25      1025      Eve              ?         5      29.99
26      1026    Alice           Huye         4      39.99
27      1027    Alice  New York City         2      49.99
28      1028      Eve           Huye         1      29.99
29      1029      Bob         Kigali         1      29.99
30      1030    David  New York City         4      49.99
31      1031    Carol         Kigali         1      29.99
32      1032      Eve        Musanze         2      29.99
33      1033    Carol            NYC         2      29.99
34      1034      Eve  New York City         1      29.99
35      1035    Alice        Musanze         4      29.99
36      1036    Frank              ?         2      29.99
37      1037    Alice  New York City         4      19.99
38      1038      Bob  New York City         5      29.99
39      1039    David           Huye         5      39.99
40      1008    David            NYC         4      59.99
41      1009    Carol           Huye         2      59.99
42      1005    Carol         Kigali         2      49.99
43      1032      Eve        Musanze         2      29.99
44      1022    David           Huye         2      39.99
45      1020    Alice           Huye         5      29.99

In [2]:
missing_count = df.isna().sum()
missing_percentage = df.isna().mean()
print("Missing value\n", missing_count)
print("\nMissing percentage\n", missing_percentage)

NameError: name 'df' is not defined

In [3]:
# check for duplicate
df = pd.read_csv('ds1_retail_orders.csv')

print("DUPLICATE VALUES\n", df.duplicated().sum())

NameError: name 'pd' is not defined